
{%  extends 'layout.twig' %}

{%  block content %}

<form method="post" action="/englishMatch/team">
    <table border="1">
        <thead><th>date</th><th>status</th><th>equipe 1</th><th>equipe 2</th><th>resultat</th></thead>
        {% for d in data %}
            <tr>
                <td>{{ d.date }}</td>
                <td bgcolor="#cd5c5c">{{ d.status }}</td>
                <td > <a href="/spanishMatch/team/{{ d._links.homeTeam.href|slice(38,3) }}"> {{ d.homeTeamName }}</a> </td>
                <td > <a href="/spanishMatch/team/{{ d._links.awayTeam.href|slice(38,3) }}"> {{ d.awayTeamName }}</a> </td>

                <td><b>{{ d.result.goalsHomeTeam }}-{{ d.result.goalsAwayTeam }}</b></td>



            </tr>
        {% endfor %}
        <a href="/englishMatch/nextMatch">Next Matchs</a>



    </table>
</form>
<a href="/englishMatch/morePast">More >>>>></a>



{%  endblock %}
