
{%  extends 'layout.twig' %}

{%  block content %}

<form method="post" action="/spanishMatch/team">
<table border="1">
    <thead><th>date</th><th>status</th><th>equipe 1</th><th>equipe 2</th><th>resultat</th></thead>
    {% for d in data %}
        <tr>



            <td>{{ d.date }}</td>

            <td bgcolor="#cd5c5c">{{ d.status }}</td>

            <td > <a href="/spanishMatch/team/{{ d._links.homeTeam.href|slice(38,3) }}"> {{ d.homeTeamName }}</a> </td>
            <td > <a href="/spanishMatch/team/{{ d._links.awayTeam.href|slice(38,3) }}"> {{ d.awayTeamName }}</a> </td>

            <td>{{ d.awayTeamName }}</td>
            <td><b>{{ d.result.goalsHomeTeam }}-{{ d.result.goalsAwayTeam }}</b></td>




        </tr>
    {% endfor %}
    <a href="/spanishMatch/nextMatch">Next Matchs</a>



</table>
</form>
<a href="/spanishMatch/morePast">More >>>>></a>




{%  endblock %}